<div class="store-container">
    <div class="paragraph-container">Welcome to a mock store of cool gifts to buy. The Project is an ecommerce site developed with Angular. I used GraphQL to Query and Mutate data from Shopify's API. And Apollo library to communicate with GraphQL from the ecommerce site.<br><br> ***In
        this store you will be able to view our catalog. View specific items. And add to cart. No real purchase available.***

    </div>

    <div class="product-list-container">
        <table>
            <tr>
                <app-shopify-product class="hover" [product]="product" *ngFor="let product of products" [routerLink]="['/product', product.id]">
                </app-shopify-product>
            </tr>
        </table>
    </div>
    <div class="next-page-container">
        <div class="next-page-number hover" (click)="getFirstProductList()">1</div>
        <div class="next-page-number hover" (click)="getSecondProductList()">2</div>

    </div>

</div>