* {
    background-color: rgb(34, 32, 32);
    color: whitesmoke;
}

app-shopify-product {
    flex: 0 0 385px;
    cursor: pointer;
    height: 333px;
}

.hover:hover {
    text-decoration: underline;
}

.product-list-container {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 30% 30%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
}

.store-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 5% 10% 82%;
    margin: 0%;
}

.header {
    grid-column: 1/5;
    grid-row: 1/2;
    padding-top: 15px;
    text-align-last: center;
    color: lightblue;
    margin-bottom: 6px;
    border-bottom: 3px solid rgb(58, 57, 57);
    border-bottom-width: 100%;
}

.paragraph-container {
    // padding-top: 3%;
    grid-column: 2/3;
    grid-row: 2/3;
    color: lightblue;
    padding: 5%;
}