<div class="store-container">
    <div class="paragraph-container">Welcome to infinite list of cool things to buy/cool stuff to buy. We have create an awesome list for you so that you can buy perfect and cool stuff or gift for your love one. Wheather you are looking to buy something for yourself or someone else,
        just explore our site.
    </div>

    <div class="product-list-container">
        <table>
            <tr>
                <app-shopify-product class="hover" [product]="product" *ngFor="let product of products" [routerLink]="['/product', product.id]">
                </app-shopify-product>
            </tr>
        </table>
    </div>
    <div class="next-page-container">
        <div class="next-page-number hover" (click)="getFirstProductList()">1</div>
        <div class="next-page-number hover" (click)="test()">2</div>

    </div>

</div>