::ng-deep app-shopify-product-details {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    grid-gap: 15px;
}

.image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 9;
}

.title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

img {
    width: 100%;
    height: 100%;
}


