* {
    font-family: sans-serif;
    font-weight: 400;
    --font-heading-scale: 1.0;
    --color-base-text: 255, 255, 255;
    --color-shadow: 255, 255, 255;
    font-style: normal;
    color: white(74, 71, 252);
}

.product-details-container {
    grid-gap: 1%;
    display: grid;
    grid-template-columns: 17.5% 38.5% 26.5% 17.5%;
    grid-template-rows: 5% 13% 25% 25% 25% 15% 15% 15% 10%;
}

.product-details-block {
    grid-column: 3/4;
    grid-row: 2/5;
    display: block;
}

.title {
    margin-bottom: 0%;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 400;
    --font-heading-scale: 1.0;
    --color-base-text: 255, 255, 255;
    --color-shadow: 255, 255, 255;
    font-style: normal;
    color: white(74, 71, 252);
}

.price {
    font-size: 20px;
    margin-bottom: 15px;
}

#quantity-title {
    font-size: 20px;
    margin-bottom: .1px;
}

.description {
    grid-column: 1/3;
    grid-row: 2/3;
}

.shipping-detail {
    font-size: 13px;
    color: rgb(116, 101, 101);
}

.image {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/5;
}

.images-not-featured {
    grid-column: 2/3;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    width: 99.5%;
    height: 100%;
    grid-gap: 1%;
}

.images-not-featured-0 {
    grid-column: 1/2;
    // grid-row: 1/2;
    height: 100%;
    width: 99.5%;
}

.images-not-featured-1 {
    grid-column: 2/3;
    // grid-row: 1/2;
    height: 100%;
    width: 100%;
}

/// under is quantity input
.quantity.buttons_added {
    grid-column: 4/5;
    grid-row: 2/3;
    margin-bottom: 50px;
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}

.add-to-cart {
    width: 300px;
    height: 40px;
    padding: 5px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #efefef;
    cursor: pointer;
    margin-bottom: 50px;
    font-size: 20px;
}

.hover:hover {
    border: 2px solid black;
}

.quantity {
    display: inline-block;
}

.quantity .input-text.qty {
    width: 80px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    // background-color: #ffffff;
    border: 1px solid #efefef;
    cursor: pointer;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}

// FIX LAYOUT FOR DESCRIPTION 
// TITLE OF PRODUCT LOCATION
// LOCATION OF EVERYTHING!!!!!!!!!!!!!!!!!!!!!!!