<div class="store-link-container">
    <table>
        <tr>
            <td>
                <div id="header">coolgifts </div>
            </td>
            <td>
                <mat-icon class="material-symbols-outlined" id="contact-link" routerLink="/contact">
                    info
                </mat-icon>
            </td>
            <td>
                <mat-icon id="store-link" routerLink="/store" matBadgeColor="warn">home</mat-icon>
            </td>
            <td>
                <mat-icon class="material-icons" matBadge="{{count}}" id="cart-link" routerLink="/cart"><span class="material-symbols-outlined">
                        shopping_cart_checkout
                    </span></mat-icon>
            </td>
        </tr>
    </table>
</div>


<router-outlet></router-outlet>