<div class="cart-container">
    <div class="cart-header">
        Your Cart
    </div>

    <div class="continue-shopping">
        <a class="continue-shopping link" routerLink="/store">Continue Shopping</a>
    </div>

    <div class="product-list-container" *ngIf="isCartEmpty">
        <div class="empty-cart">Cart Is Empty</div>
    </div>

    <div class="product-list-container" *ngIf="!isCartEmpty">
        <table>
            <tr *ngFor="let product of cart?.lines; let i = index">
                <td><img class="product-img" [src]="product?.featuredImage?.url"></td>
                <td class="product-title hover" [routerLink]="['/product', product.id]">{{product.title}}</td>
                <td class="buttons_added">
                    <div id="quantity-title">Quantity</div>
                    <input class="quantity-input quantity-hover" type="number" (change)="onQuantityChange(i)" [(ngModel)]="product!.quantity" min="1" max="25">
                </td>
                <!-- <td><button class="product-delete" (click)="onDeleteFromCart(i)">delete</button></td> -->
                <td><i class="material-icons product-delete" (click)="onDeleteFromCart(i)"><span class="material-symbols-outlined">
                    delete_outline
                    </span></i></td>
                <td class="product-price">${{product.price}}</td>



            </tr>
        </table>
        <br>
    </div>

    <div class="cart-totals-container">
        <div class="cart-subtotal">Subtotal</div>
        <div class="cart-amount">${{cart.totalAmount}} USD</div>
    </div>



</div>