<div class="cart-container">
    <div class="cart-header">
        Your Cart
    </div>

    <div class="continue-shopping">
        <a class="continue-shopping link" routerLink="/store">Continue Shopping</a>
    </div>

    <div class="product-list-container">

        <div class="product" *ngFor="let product of cart?.lines; let i = index">
            <div class="product-title hover" [routerLink]="['/product', product.id]">{{product.title}}</div>
            <img class="product-img" [src]="product?.featuredImage?.url">
            <div class="product-price">${{product.price}}</div>
            <button class="product-delete" (click)="onDeleteFromCart(i)">delete</button>

            <div class="quantity buttons_added">
                <div id="quantity-title">Quantity</div>
                <input class="quantity-input quantity-hover" type="number" (change)="onQuantityChange(i)" [(ngModel)]="product!.quantity" min="1" max="5">
            </div>

        </div><br>
    </div>

    <div class="cart-totals-container">
        <div>Tax Amount:${{cart.taxAmount}} </div>
        <div>Total Amount:${{cart.totalAmount}} </div>
    </div>



</div>